{{!-- /app/templates/child/chore.hbs --}} {{outlet}}
<br>

<div class=" col-md-1">
</div>

<div class="chore_p col-md-5">


</div>

<div class="act col-xs-6 col-md-6">
  <div class="wow bounceIn data-wow-delay='0.5s' " id="h1">
    <h3><span class="kf">Activity</span><span><img  src="assets/image/verified19.png" width="50" height="50" ></span></h3>
  </div>
  <br>
  <div id="b1" class="col-md-12">
    <div class="col-md-12">
      <br>
      <div class="col-md-4">
        <p>Do the Dishes:2$</p>
      </div>
      <div class="col-md-4">
        <a id="c_btn" class=" btn btn-default btn-sm" href="#" role="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Accept</a>
        <span> <a id="c_btn" class=" btn btn-default btn-sm" href="#" role="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Decline</a>
        </span>
      </div>
      <div class="col-md-4">
        <div class="checkbox">
          <label>
            <input type="checkbox">Complete
          </label>
        </div>
      </div>
      <p>Walk the dog: 2$ <span> <a id="c_btn" class=" btn btn-default btn-sm" href="#" role="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>done</a>
        </span>
      </p>
      <br>
      <p>Wash the car: 2$ <span> <a id="c_btn" class=" btn btn-default btn-sm" href="#" role="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>done</a>
        </span>
      </p>
    </div>

  </div>
</div>


<span> <a id="c_btn" class=" btn btn-default btn-sm" href="#" role="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>done</a>
</span>