{{!-- /app/templates/child/home.hbs --}} {{outlet}}

<div class="register-container container ">
  <div class="row">
    <div><h2><img src="assets/image/p2.png" height="80" width="80"> Welcome </h2></div>
    
    <div class="info col-md-4">
 <br>
      <!--    Hover Rows  -->
      <div><p>Summary Account</p></div>
    <img src="assets/image/dollar170.png" height="40" width="40"><p>Balance: 100$</p>
      <br>
     <img src="assets/image/dollar175.png" height="40" width="40">  <p>Credit Score: 20$</p>
       <br>
      <img src="assets/image/dollar173.png" height="40" width="40">  <p>Available Now: 80$</p>
      <br>
      <div><a href="">Go to your Account</a></div>
</div>
     
    <div class="info1 col-md-4">
    <br>
      <div><p>Chores Activity</p></div>
      <img class="img1" src="assets/image/bell45.png" height="40" width="40"><p> Do the Dishes: 2.00$<a href="#"><img src="assets/image/accept.png" ></a> <a href="#"><img src="assets/image/delete.png" ></a></p>
      <br>
       <img class="img1" src="assets/image/bell45.png" height="40" width="40"><p>Walk the Dog: 5.00$<a href="#"><img src="assets/image/accept.png" ></a> <a href="#"><img src="assets/image/delete.png" ></a></p>
      <br>
      <img class="img1" src="assets/image/bell45.png" height="40" width="40"><p>Wash the car: 6.00$<a href="#"><img src="assets/image/accept.png" ></a> <a href="#"><img src="assets/image/delete.png" ></a></p>
      <div><a href="">See More</a></div>

    </div>

    <div class="info2 col-md-4">
      <br>
      <div><p>Updates Activity</p></div>
      <p>asdkansdlkjalskdjaldkanlksdajdkl</p>
      <div><a href="">Activities</a></div>
    </div>
  </div>

</div>