{{!-- /app/templates/child/wishList.hbs --}} {{outlet}}
<br>
<br>
<div class="col-lg-12">
 <div class="container">
    <div class="row">
       <div class="col-lg-1">
       
      </div>
      <div class="col-lg-5">
       <img src="assets/image/objective.png" width="200" height="200">
      </div>
      
      <div class="col-lg-6">
        <h1><span class="kf">Coming Soon!</span></h1>
        <br>
        <h3>Make your wish list and calculate how much you need to save to get it.</h3>
      </div>
    </div>
  </div>
  
  </div>