{{!-- /app/templates/landing-page/index.hbs --}}
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text" style="padding-bottom: 50px">
                    <span class="name"><span class="kf">Millionaire Labs</span></span>
                    <hr class="star-light">
                    <span class="skills kf">Help kids understand money.</span>
                </div>
                <div class="video">
                
                <iframe width="315" height="560" src="//www.youtube.com/embed/XhzsAQKmIuQ" frameborder="0" allowfullscreen></iframe>
              
                    </div>
                </div>
            </div>
        </div>
</header>

<section id="about">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="kf">About </h2>
            <hr class="star-primary">
        </div>
        </div>
        
        <div class="row">
            <div id="img_about">  
             <img class="img-responsive" src="assets/image/family.png"> 
            </div>
            <div class="col-lg-12 " id="text_about"> 
                <h3 class="kf">Checking - Investing or Credit Account</h3>
                <p>Learn about risk, reward, debt security, buying and tracking.</p>

                <h3 class="kf">Budgetting Tools</h3>
                <p>Planning their own financial goals. How much time and money do you need for a bike?</p>

                <h3 class="kf">Reward System</h3> 
                <p>Reward on chores. Motivate you on working hard to reach a financial goal.</p>

                <h3 class="kf">Social Element</h3>
                <p>Allow the family work together for shared financial goals.</p>
            </div>
            </div>
        </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="kf">Features</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/image/portfolio/f1.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/image/portfolio/f2.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/image/portfolio/f3.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>


<!-- Team Section -->

<section id="team" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="kf">About Us!</h2>
                <hr class="star-primary">
            </div>
        </div> 
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
				<div class="wow bounceInUp" data-wow-delay="0.2s">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h4>Maddie</h4>
                            <p class="subtitle">Business Manager</p>
                            <div class="avatar"><img src="assets/image/team/maddie.jpg" alt="" class="img-responsive img-circle" /></div>
                        </div>
                    </div>
				</div>
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="wow bounceInUp" data-wow-delay="0.5s">
                <div class="team boxed-grey">
                    <div class="inner">
						<h4>Likun Hu</h4>
                        <p class="subtitle">Web Developer</p>
                        <div class="avatar"> <img src="assets/image/team/likun.jpg" alt="" class="img-responsive img-circle" /></div>

                    </div>
                </div>
				</div>
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="wow bounceInUp" data-wow-delay="0.8s">
                <div class="team boxed-grey">
                    <div class="inner">
						<h4>Mabel Montano</h4>
                        <p class="subtitle">Web Developer</p>
                        <div class="avatar"><img src="assets/image/team/mabel.jpg"  alt="" class="img-responsive img-circle" /></div>
                    </div>
                </div>
				</div>
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="wow bounceInUp" data-wow-delay="1s">
                <div class="team boxed-grey">
                    <div class="inner">
						<h4>Amy Yu</h4>
                        <p class="subtitle">Web Developer</p>
                        <div class="avatar"><img src="assets/image/team/amy.jpg" alt="" class="img-responsive img-circle" /></div>
                    </div>
                </div>
				</div>
            </div>
        </div>		
    </div>
</section>

<!-- Begin MailChimp Signup Form -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="kf">Get Involve</h2>
                <hr class="star-primary">
                <p class="kf">We will only send you valuable content.</p>
                <br />
                <p class="indicates-required kf"><span class="asterisk">*</span> indicates required</p>
            </div>
        </div>
        <div class="row" id="mc_embed_signup">
            <form action="//beautycirclee.us9.list-manage.com/subscribe/post?u=eea4dd4a46d5a86b092e7938f&amp;id=2e72877313" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll" class="col-lg-8 col-lg-offset-2">
                <div class="row control-group">
                    <div class="mc-field-group form-group col-xs-12 floating-label-form-group controls">
                      <label class="kf" for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                      </label>
                      <input type="email" value="" name="EMAIL" class="required email form-control kf" id="mce-EMAIL" placeholder="Email Address *">
                    </div>
                </div>
                <div class="row control-group">
                    <div class="mc-field-group form-group col-xs-12 floating-label-form-group controls">
                      <label class="kf" for="mce-FNAME">First Name </label>
                      <input type="text" value="" name="FNAME" class="form-control kf" id="mce-FNAME" placeholder="First Name">
                    </div>
                </div>
                <div class="row control-group">
                    <div class="mc-field-group form-group col-xs-12 floating-label-form-group controls">
                      <label class="kf" for="mce-LNAME">Last Name </label>
                      <input type="text" value="" name="LNAME" class="form-control kf" id="mce-LNAME" placeholder="Last Name">
                    </div>
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_eea4dd4a46d5a86b092e7938f_2e72877313" tabindex="-1" value=""></div>
                <br/>
                <div id="success"></div>
                <div class="row clear">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-success btn-lg kf"  value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Get Involve</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Portfolio Modals -->
    
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 class="kf">Saving Account</h2>
                            <hr class="star-primary">
                            <p>Savings account on millionaire labs utilizes allowance, deposit plan and saving interest.</p>
                            <img src="assets/image/portfolio/p5.png" class="img-responsive img-centered" alt="">
                            
                            <button type="button" class="btn btn-default kf" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 class="kf">Budgetting Tools</h2>
                            <hr class="star-primary">
                            <p>Teach kids on planning their own financial goals.</p>
                            <img src="assets/image/portfolio/p6.png" class="img-responsive img-centered" alt="">
                            <button type="button" class="btn btn-default kf" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 class="kf">Investing Account</h2>
                            <hr class="star-primary">
                            <p>It is vital to arm your children with important investment knowledge. Millionaire Labs investing account teaches your children about risk, reward, debt security, buying and tracking. This understanding will prepare them for riding out market fluctuations and making informed decisions when others panic.</p>
                            <img src="assets/image/portfolio/p7.png" class="img-responsive img-centered" alt="">
                            <button type="button" class="btn btn-default kf" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

