{{!-- /app/templates/landing-page/sign-up.hbs --}}
<header>

  <div class="register-container container">
    <div class="row">
      <div class="wow bounceInUp">
        <div class="wallet col-md-5">
          <img src="assets/image/wallet8.png" alt="">
        </div>
      </div>
      <div class="register col-md-6">
        <div class="wow slideInLeft" data-wow-delay="0.5s">
          <form action="" method="post">
            <h2><span class="kf">Create new user </span></h2>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-child"></i></span> 
              <input class="form-control input-md" type="text" id="username" name="username" placeholder="Choose a Username...">
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span> 
              <input class="form-control input-md" type="text" id="email" name="email" placeholder="Enter your Email...">
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key"></i></span> 
              <input class="form-control input-md" type="password" id="password" name="password" placeholder="Choose a Password...">
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key"></i></span> 
              <input class="form-control input-md" type="password" id="password" name="password" placeholder="Repeat the Password...">
            </div>
            <button class="btn btn-primary btn-md" type="submit"><span class="kf">REGISTER</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>


</header>

<section id="service">
  <div class="container">
    <div class="col-lg-12 text-center">
      <h2 class="kf">About</h2>
      <hr class="star-primary">
    </div>
  </div>

  <div class="row">

  </div>

</section>