{{!-- /app/templates/landing-page/sign-in.hbs --}}

<div class="container">
  <div class="row" style="padding-top: 60px"></div>
  <div class="row">
    <div class="row" style="padding-top: 100px"></div> {{!--spacer. Can be removed once it is live--}}
    <h3 class="kf text-center">Coming Soon !</h3>
    <div class="row" style="padding-top: 100px"></div> {{!--spacer. Can be removed once it is live--}}
  </div>
</div>