{{!-- /app/templates/users/account.hbs --}} {{outlet}}


<div class="panel-body">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><img src="assets/image/diamond38.png" height="35" width="35" alt=""> Amy Activity</a>
                                        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Activity</a>
            </li>
            <li><a href="#profile" data-toggle="tab">Transactions</a>
            </li>
            <li><a href="#messages" data-toggle="tab">Settings</a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane fade in active" id="home">
              <div class="col-md-6">
                <br>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <tr>
                      <th>Activity</th>
                      <th>Reward $</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>

                    <tr>
                      <td>Walk the dog</td>
                      <td>3</td>
                      <td>Completed<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      </td>
                      <td><a id="c_btn" class=" btn btn-default btn-sm" href="#" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Pay &raquo;</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Wash the car</td>
                      <td>6</td>
                      <td>Completed<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      </td>
                      <td><a id="c_btn" class=" btn btn-default btn-sm" href="#" role="button"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Pay &raquo;</a>
                      </td>
                    </tr>
                  </table>
                </div>

              </div>
            </div>
            <div class="tab-pane fade" id="profile">
              <div class="col-md-3">
                <p class="small">
                  <img src="assets/image/dollar_coin.png" alt="">Present Balance: 200$</p>
                <p class="small">
                  <img src="assets/image/not_available.png" alt="">Pending Withdrawals: -30$</p>
                <br>

                <input type="number" class="form-control" placeholder="Amount to Deposit">

                <br>
                <button type="submit" class="btn btn-primary">Deposit</button>
                <button type="submit" class="btn btn-danger">Withdraw</button>
              </div>
            </div>
            <div class="tab-pane fade" id="messages">
              <br>
              <button type="submit" class="btn btn-danger">Close Account</button>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

