<br>
<br>
<br>

<div class="family col-xs-2 col-md-5">
  
</div>

<div class="col-xs-2 col-md-5">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
            
              <h4 class="modal-title kf" id="myModalLabel"> <i class="fa fa-users fa-2x"></i>Create your family</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Create a Family</label>
                {{input type= "text" class="form-control" placeholder="Family Name" value=familyName}} 
              </div>
             
            </div>
            <br>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button class="btn btn-primary" {{action 'createFamily'}}>Save Family</button>
            </div>
          </div>
        </div>
      </div>