{{!-- /app/templates/users/profile.hbs --}} {{outlet}}

    <div class="panel-heading">
      <i class="fa fa-home fa-2x">  <span class="kf"> HOME </span></i> 
    </div>

    <div class="register-container container ">
      <div class="bg row ">
        <div class="wallet col-md-3">
          <br>
          <div class="panel panel-primary text-center no-boder">
            <div class="m1 panel-body">
             <a href=""> <img src="assets/image/mail.png" alt=""> 
             <i class="fa fa-cog fa-spin"></i><p>3 New Messages </p></a> 
            </div>
            <div class="panel-footer">
              <span class="panel-eyecandy-title"> Message</span>
            </div>
          </div>
        </div>

        <div class="wallet col-md-3">
          <br>
                <div class="panel panel-primary text-center no-boder">
                        <div class="m2 panel-body">
                          {{#link-to 'users.account'}} <img src="assets/image/bank1.png" alt=""> 
             <p>Go to your Accounts {{/link-to}}</p>
                        </div>
                        <div class="panel-footer">
                            <span class="panel-eyecandy-title">Account
                            </span>
                        </div>
                    </div>
        </div>

        <div class=" col-md-4">
          <br>
          <!-- Notifications-->
          <div class="panel panel-primary">
            <div class="panel-heading">
              <i class="fa fa-bell fa-fw"></i>Notifications Panel
            </div>

            <div class="m3 panel-body">
              <div class="list-group">
                <a href="#" class="list-group-item">
                  <i class="fa fa-comment fa-fw"></i>New Comment
                  <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                </a>
                <a href="#" class="list-group-item">
                  <i class="fa fa-twitter fa-fw"></i>3 New Followers
                  <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                </a>
                <a href="#" class="list-group-item">
                  <i class="fa fa-envelope fa-fw"></i>Message Sent
                  <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                    </span>
                </a>
                <a href="#" class="list-group-item">
                  <i class="fa fa-tasks fa-fw"></i>New Task
                  <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                    </span>
                </a>
                <a href="#" class="list-group-item">
                  <i class="fa fa-upload fa-fw"></i>Server Rebooted
                  <span class="pull-right text-muted small"><em>11:32 AM</em>
                                    </span>
                </a>


              </div>
              <!-- /.list-group -->
              <a href="#" class="btn btn-default btn-block">View All Alerts</a>
            </div>

          </div>
          <!--End Notifications-->

        </div>
      </div>
    </div>




