{{!-- /app/templates/users/profile.hbs --}} {{outlet}}

    <div class="panel-heading">
    <img src="assets/image/favorite.png" alt="">   <span class="kf"> Welcome </span>
    </div>

    <div class="register-container container ">
  
        <div class="wallet col-md-3">
          <br>
                 <div class="panel panel-default">
                        <div class="panel-heading home">
                            <img src="assets/image/girl1.png" alt=""> Amy Activity
                        </div>
                        <div class="panel-body">
                            <p class="small"> <img src="assets/image/dollar_coin.png" alt="">Present Balance: 200$</p>
                            <p class="small"><img src="assets/image/not_available.png" alt="">Pending Withdrawals: -30$</p>
                          <br>
                           <input type="number"  class="form-control" placeholder="Amount to Deposit" >
                          <br>
                          <button type="submit" class="btn btn-primary">Deposit</button>
                          <button type="submit" class="btn btn-danger">Withdraw</button>
                        </div>
                        <div class="panel-footer">
                           <a href="#"> <img src="assets/image/computer.png" alt=""> See Account  </a>
                        </div>
                    </div>
                </div>
  

                <div class="wallet col-md-3">
          <br>
                 <div class="panel panel-default">
                        <div class="panel-heading">
                           <img src="assets/image/girl2.png" alt=""> Likun Activity
                        </div>
                        <div class="panel-body">
                            <p class="small"> <img src="assets/image/dollar_coin.png" alt="">Present Balance: 50$ </p>
                            <p class="small"><img src="assets/image/not_available.png" alt="">Pending Withdraw: $</p>
                          <br>
                           <input type="number"  class="form-control" placeholder="Amount to Deposit" >
                          <br>
                          <button type="submit" class="btn btn-primary">Deposit</button>
                          <button type="submit" class="btn btn-danger">Withdrawl</button>
                        </div>
                        <div class="panel-footer">
                           <a href="#"> <img src="assets/image/computer.png" alt=""> See Account  </a>
                        </div>
                    </div>
                </div>
      
     <div class="wallet col-md-3">
          <br>
                 <div class="panel panel-default">
                        <div class="panel-heading">
                           <img src="assets/image/girl3.png" alt=""> Maddie Activity
                        </div>
                        <div class="panel-body">
                            <p class="small"> <img src="assets/image/dollar_coin.png" alt="">Present Balance: 100$ </p>
                            <p class="small"><img src="assets/image/not_available.png" alt="">Pending Withdraw: -10$</p>
                          <br>
                           <input type="number"  class="form-control" placeholder="Amount to Deposit" >
                          <br>
                          <button type="submit" class="btn btn-primary">Deposit</button>
                          <button type="submit" class="btn btn-danger">Withdrawl</button>
                        </div>
                        <div class="panel-footer">
                           <a href="#"> <img src="assets/image/computer.png" alt=""> See Account  </a>
                        </div>
                    </div>
                </div>


          <!--End Notifications-->

        </div>





