{{!-- /app/templates/users/profile.hbs --}}

<div class="panel-heading">
  <h3><img src="assets/image/user_edit.png" alt="">   <span class="kf">Edit Profile </span> </h3>
</div>

<div class="register-container container">
  <div class="register col-md-6">
    <br>

    <form role="form">

      <div class="form-group">
        <label>Create a Family Username</label>
        <input class="form-control" placeholder="Family UserName">
      </div>
      <!-- search section-->
      <label>Add your family members</label>
      <div class="input-group custom-search-form">

        <input type="text" class="form-control" placeholder="Search family members">
        <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
      </div>
      <!--end search section-->

      <div class="form-group">
        <label>Select the bank account for you children</label>
        <select class="form-control">
          <option>Cheking/Saving</option>
          <option>Credit Card</option>
          <option>Time Deposit</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-success">Reset</button>

    </form>
  </div>

  <div class=" info col-md-4">
    <br>
    <div class=" panel panel-primary text-center no-boder">
      <div class="m4 panel-body">
        <img src="assets/image/info.png" alt="">
        <p>A Parent rol?</p>
        <p>Create a family and join your members <i class="fa fa-users "></i> 
        </p>
        <p>Open the first account for them <i class="fa fa-credit-card "></i>
        </p>
        <p></p>
      </div>

    </div>
  </div>

  
</div>
