{{!-- /app/templates/users/profile.hbs --}}

<div class="register-container container">

  <div class="col-md-2">
    <img src="assets/image/settings48.png" height="180" width="180">
  </div>

  <div class="register  col-md-5">
    <br>
    <form id="info">
       <img src="assets/image/check53.png" height="50" width="50"><h3 class="kf">Personal Information</h3>
      <p>Name:</p>
      <p>UserName:</p>
      <p>Email:</p>
      <p>Role:</p>
      <p>Family Name:</p>
      <p>Family Members:</p>
    </form>
  </div>


  <div class="register col-md-5">
    <br>

    <form role="form">

      <div class="form-group">
        <label>Name:</label>
        <input class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <label>UserName:</label>
        <input class="form-control" placeholder="UserName">
      </div>

      <div class="form-group">
        <label>Email:</label>
        <input type="email" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <label>Family</label>
        <input class="form-control" placeholder="Family">
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="reset" class="btn btn-success">Reset</button>

    </form>
  </div>



</div>
