        <h3 class="kf">Teach Your Kids These Basic Money Lessons Before It's Too Late
          <br />
          <small>Neal Frankle, Wealth Pilgrim</small>
          <small><a href="http://wealthpilgrim.com/5-money-lessons-kids-need-late/"><i class="fa fa-link"></i></a></small>
          <br/>
          <small>Jan. 1, 2015</small>
        </h3>
        <br/>
        <img src="assets/image/blog/paperwork-8.jpg" class="img-responsive">
        <br/>
        <p>
          Do you really want your children to live with you until they hit their mid-30s? According to the Wall Street Journal and the U.S. Census Bureau, there is a good chance that could happen. They found that 32% of all people age 18 to 34 live with their parents. Drag.
        </p>
        <p>
          I love my kids as much as the next Pilgrim, but that's not the future any of us dream of. We want our children to be successful and independent. Right?
        </p>
        <p>
          Yes, these days it's hard for young people to find good paying jobs. And certainly life is more expensive. But these obstacles aside, many young adults just don't have the financial skills they need. Here are the 5 big lessons your kids need to master and how you can help them do so.
        </p>
        <p>
          Note – If you do everything right and you kids still don't get it together, here's a post that can help you deal with kids who move back home and won't leave!
        </p>

        <p><strong>1. Tradeoffs</strong></p>
        <p>
          Understanding financial tradeoffs is the most important financial lesson of them all. If your offspring says "yes" to one thing, she's saying "no" to something else. Sadly, many parents try to negate the concept of scarcity and tradeoffs by giving their family everything all the time. Either that or they bail their kids out too often. I personally think these are monumental mistakes.
          <br/>
          When we do that, we aren't giving them the opportunity to learn and do it better next time. In essence, we are setting them up for failure.
          <br/>
          Give your children ample opportunity to understand that:
          <br />
        </p>
        <ul>
          <li>Money is limited.</li>
          <li>They can't have everything.</li>
          <li>They must say "no" to one thing, in order to say "yes" to something else.</li>
        </ul>
        <p>
          This is easy to say and hard to do. I know that because I have 3 kids of my own. But as hard as it is sometimes, we really have to stand firm if we want the kids to be able to stand on their own two feet someday.
        </p>

        <p><strong>2. Budgeting</strong></p>
        <p>
          Budgeting is the secret sauce of financial success no matter how much money people make. I know lots of people who make a great living but aren't financially successful because they don't budget. The most extreme case was a gentleman who earned over $400,000 a year and was worth over $5 million at the time. You would have thought that he had it made – and it could have been that way had he lived within his (ample) means. The problem was he didn't. He spent over $700,000 a year and ate away at his investments year after year until he was actually broke.
        </p>
        <p>
          Give your kids the tools they need to budget. It's not a question of how much money they have. It's a question of monitoring how they spend the money they get. They can track their spending using an excel spreadsheet or you can give them a software package like YNAB to do it. Regardless of the tool you provide, show them how to budget and work with them every month to make sure they track how their money is spent.
        </p>

        <p><strong>3. Patience</strong></p>
        <p>
          You already know that good things come in time. But young people often want immediate results and that can lead to making disastrous and/or really dumb decisions. A quick example comes to mind when I think about my friend's son Tim.
        </p>
        <p>
          Tim often took on jobs that promised immediate and effortless success yet they resulted in failure. Tim wasn't willing to invest in his future by building it piece by piece. As a result he kept going in circles and to date hasn't found a solid career track.
        </p>
        <p>
          Obviously, the virtue of patience really pays off when it comes to investing as well. Explain how money grows over time. Show them how even a small amount of money invested consistently over time can really change their lives.
        </p>
        <p>
          This is something the kids shouldn't have to figure out by themselves.
        </p>

        <p><strong>4. Self determination</p></strong>
        <p>
          Whatever you do, don't let your children grow up to be victims. Talk about the decisions you've made and how they've influenced your life for good and bad. Set an example. Take responsibility and be verbal about it. Encourage them to think about the tradeoffs they are willing and unwilling to make and strengthen their understanding that they alone get to decide what their future life is going to look like.
        </p>

        <p><strong>5. Value of work</strong></p>
        </p>
        <p>
          Every child needs to understand how important it is to do the work. One of my kids came home from school with a C- on an important test. I was thrilled. The reason? She hadn't put the effort in to prepare for the exam and the professor graded her accordingly.
        </p>
        <p>
          The lesson stuck and really paid off when she worked at her internship. She is almost always the best prepared staff member in the office and the opportunities flow to her as a result. Let your child enjoy the fruits of being prepared and let her experience the consequences of slacking off. The life lesson is simply priceless.
        </p>
        <p>
          In my experience, these five values have the most impact on our financial lives over time. I've noticed that the people who learn these lessons best are the most successful. The best gift you could possibly give your children is discussing each of these five ideas and implementing their practice in their everyday lives.
        </p>
        <p>
          What other lessons do you think are most important for kids to learn? What has been your experience?
        </p>
        <small>
          This article originally appeared at Wealth Pilgrim. Copyright 2014.
