{{!-- This is the TEMPLATE of a blog post

INSTRUCTION OF ADDING BLOGS
1. format blog in html format like below
2. replace /app/templates/blog/index.hbs and create /app/templates/blog/xx.hbs (xx-> incremental number) 
3. create a handlebar link-to that link to /app/templates/blog/xx.hbs
4. add new blog route in /app/routers
 --}}

<h3 class="kf">The 5 Most Important Money Lessons To Teach Your Kids
  <br />
  <small>Laura Shin, Forbes</small>
  <small><a href="http://www.forbes.com/sites/laurashin/2013/10/15/the-5-most-important-money-lessons-to-teach-your-kids/"><i class="fa fa-link"></i></a></small>
  <br/>
  <small>Jan. 10, 2015</small>
</h3>
<br/>
<img src="assets/image/blog/teaching-kids-about-money1.jpg" class="img-responsive">
<br/>
<p>
  Given how important financial skills are to navigating life, it’s surprising that our schools don’t teach children about money.
</p>
<p>
  As a parent, however, you can teach your child important financial lessons — and you should.
</p>
<p>
  “Look at the mortgage crisis and how many families lost their homes — 3.9 million foreclosures. Look at the amount of money — $1.1 trillion—we owe in student loan debt. The amount — $845 billion — we owe in credit card debt. It’s pretty clear that adults don’t know much about money. To help the next generation avoid the mistakes of their elders, and to live financially fit lives, they need to be taught the essentials about money,” says Beth Kobliner, author of the New York Times bestseller Get a Financial Life, and a member of the President’s Advisory Council on Financial Capability who spearheaded the creation of Money as You Grow, which offers age-appropriate money lessons for children.
</p>
<p>
  Kobliner says children as young as three years old can grasp financial concepts like saving and spending. And a report by researchers at the University of Cambridge commissioned by the United Kingdom’s Money Advice Service revealed that kids’ money habits are formed by age 7.
</p>
<p>
  “The sooner parents start taking advantage of everyday teachable money moments (for example, give a six-year-old $2 and let her choose which fruit to buy), the better off our kids will be. Parents are the number one influence on their children’s financial behaviors, so it’s up to us to raise a generation of mindful consumers, investors, savers, and givers,” she says.
</p>
<p>
   Below are the top money lessons to be learned at each age, as well as activities to illustrate each point.
</p>

<p><strong>Ages 3-5</strong></p>
<p><strong>The Lesson: You may have to wait to buy something you want.</strong></p>
<p>
  “This is a hard concept for people to learn of all ages,” says Kobliner. However, the ability to delay gratification can also predict how successful one will be as a grown-up. Kids at this age need to learn that if they really want something, they should wait and save to buy it.
  <br/>
  Money lessons at this age set the tone for later on. “You really can’t start too early,” says Kobliner. Speaking of her own family, she says, “When we go into a store, if I say, ‘We don’t have money for this,’ they’re smart — they know we have credit cards,” So, she would say, “We’re here to buy a gift for X, and we’re not going to buy anything for you, because we’re not here for that.” Kids then quickly learn that going into a store doesn’t always mean you’ll buy something.
</p>
<p><strong>Activities For Ages 3 To 5</strong></p>
<p>
  1. When your child is waiting in line, say, to go on the swings, discuss how important it is to learn to wait for what he or she wants.
</p>
<p>
  2. Create three jars – each labeled “Saving,” “Spending” or “Sharing.” Every time your child receives money, whether for doing chores or from a birthday, divide the money equally among the jars. Have him or her use the spending jar for small purchases, like candy or stickers. Money in the sharing jar can go to someone you know who needs it or be used to donate to a friend’s cause. The saving jar should be for more expensive items.
</p>
<p>
  3. Have your child set a goal, such as to buy a toy. Make sure it’s not so pricey that they won’t be able to afford it for months. “Then it just gets frustrating, and it gets hard for them to wrap their head around. It’s really more about her being cognizant that she’s saving for a goal than, ‘Oh, I really need her to scrape together those $10 to buy the tutu.’ You want to set them up for success,” says Kobliner. If your child does have an expensive goal, come up with a matching program to help her reach it in a reasonable timeframe. (Kobliner says that while an allowance is a personal choice for every family, at this age, a small allowance could help a child save for these goals.)
</p>
<p>
  Every time your child adds money to the savings jar, help her count up how much she has, talk with her about how much she needs to reach her goal, and when she will reach it. “All those behaviors are really fun for kids,” says Kobliner. “And it gives them a sense of the importance of waiting and being patient and saving.”
</p>

<p><strong>Ages 6-10</strong></p>
<p><strong>The Lesson: You need to make choices about how to spend money.</strong></p>
<p>
  At this age, it’s important to explain to your child, “Money is finite and it’s important to make wise choices, because once you spend the money you have, you don’t have more to spend,” Kobliner says. While at this age, you should also keep up with activities like the saving, spending and sharing jars, and goal-setting, you should also begin to engage your child in more adult financial decision-making.
</p>
<p><strong>Activities For Ages 6 To 10</strong></p>
<p>
  1. Include your child in some financial decisions. For instance, explain, “The reason I chose the generic grape juice rather than the brand name is that it costs 50 cents less and tastes the same to me,” says Kobliner. Or talk about deals, such as buying everyday staples like paper towels in bulk to get a cheaper per-item price.
</p>
<p>
  2. Give your child some money, like $2, in a supermarket and have her make choices about what fruit to buy, within the parameters of what you need, to give them the experience of making choices with money.
</p>
<p>
  3. When you’re shopping, talk aloud about how you’re making your financial decisions as a grown-up, asking questions like, “Is this something we really, really need? Or can we skip it this week since we’re going out to dinner?” “Can I borrow it?” “Would it cost less somewhere else? Could we go to discount store and get two of these instead of one?”
</p>

<p><strong>Ages 11-13</p></strong>
<p><strong>The Lesson: The sooner you save, the faster your money can grow from compound interest.
</strong></p>
<p>
  At this age, you can shift from the idea of saving for short-term goals to long-term goals. Introduce the concept of compound interest, when you earn interest both on your savings as well as on past interest from your savings.
</p>
<p><strong>Activities For Ages 11 To 13</strong></p>
<p>
  1. Describe compound interest using specific numbers, because research shows this is more effective than describing it in the abstract, says Kobliner. Explain, “If you set aside $100 every year starting at age 14, you’d have $23,000 by age 65, but if you start at age 35, you’ll only have $7,000 by age 65.”
</p>
<p>
  2. Have your child do some compound interest calculations on Investor.gov. Here, she can see how much money she’ll earn if she invests a certain amount and it grows by a certain interest rate. And have her read this inspiring example of someone who used compound interest to his advantage incredibly well.
</p>
<p>
  3. Have your child set a longer-term goal for something more expensive than the toys she may have been saving for. “Those sorts of tradeoffs, called opportunity costs — what are the things you’re giving up to save money — is a very useful thing to talk about. At this age, kids are trying to not save because they want to buy stuff, but thinking of what long-term goals are and what they’re having to give up shows that it’s a good decision,” says Kobliner. For example, she says, if your child has a habit of buying a snack after school every day, she may decide she’d rather put that money toward an iPod.
</p>

<p><strong>Ages 14-18</strong></p>
<p><strong>The Lesson: When comparing colleges, be sure to consider how much each school would cost.</strong></p>
<p>
  Search for the “net price calculator” on college websites to see how much each costs when including other expenses besides tuition. But don’t let the price tag discourage your child. Explain how much more college grads earn than people without college degrees, making it a worthwhile investment.
</p>
<p><strong>Activities For Ages 14 To 18</strong></p>
<p>
  1. Discuss how much you can contribute to your child’s college education each year. “Every parent should start the college cost conversation by ninth grade,” says Kobliner. “Tackling the subject early and being honest about what your family can afford will help kids be realistic about where they may apply.”
</p>
<p>
  But remember that there are many ways to finance college other than with your own money. With your child, look into which private schools are generous with financial aid, how much of it is in “free money” such as grants and scholarships, how much in loans that your child will have to pay back, and what government programs can help pay back those loans, says Kobliner. Also, check out these eight tips on taking out student loans.
</p>
<p>
  2. Have your child use this College Scorecard to compare how much each college costs, what the employment prospects of graduates are, and how much student loan debt could affect your child’s lifestyle after graduation if he or she attended that college. As with any investment, analyze together whether the money put in will pay off in the end.
</p>
<p>
  3. Estimate your financial aid using the FAFSA4caster tool at fafsa.ed.gov. Also research additional loans, scholarships, and grants — and use calculators to estimate monthly loan payments — on studentaid.ed.gov. Find out about loan repayment options such as Pay As You Earn, which limits your monthly payments to just 10% of your discretionary income. For more information, check out ibrinfo.org or finaid.org.
</p>
<p>
  “Parents should absolutely make their college kids get a part-time job,” says Kobliner, adding that research by Dr. Gary R. Pike of Indiana University-Purdue University Indianapolis shows that students who work 20 hours a week or less at on-campus jobs get better grades because they’re more engaged in student life. “But limit those hours!” she says. “Working more than 20 hours per week can hurt kids’ academic success.”
</p>

<p><strong>Ages 18+</strong></p>
<p>
  1. Teach a child that if a parent cosigns on a credit card, any late payment could also affect the parent’s credit history.
</p>
<p>
  2. Together, look for a credit card that offers a low interest rate and no annual fee using sites like Bankrate, Creditcards.com, Credit.com, or Cardratings.com.
</p>
<p>
  3. Explain that it’s important not to charge everyday items so that way if you have a emergency expense that you can’t cover with savings, you can charge that. However, even better is building up at least three months’ worth of living expenses in emergency savings, though six to nine months’ worth is ideal. Learn here how to budget money in order to build up emergency savings.
</p>

<small>
  This article originally appeared at Forbes.
