{{!-- /app/templates/landing-page/blog.hbs --}}
<div class="container">
  <div class="row" style="padding-top: 60px"></div>
  <div class="row">
    <div class="col-lg-9">
      <section>
        {{outlet}}
       
      </section>
    </div>

    <div class="col-lg-3">
      <section>
        <div class="page-header">
          <h4 class="kf">More</h4>
        </div>
        <div>
          <h4 class="kf">
            <ul>
              <li>
                <small>
                  {{!-- {{#link-to 'landingPage.blog.1'}}Teach Your Kids These Basic Money Lessons Before It's Too Late{{/link-to}} --}}
                </small>
              </li>
            </ul>
          </h4>
        </div>
      </section>
    </div>

  </div>
</div>