{{!-- app/templates/landing-page.hbs --}}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand kf" href="#page-top"><i class="ki k-tree"></i>Millionaire Labs</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about" class="kf">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio" class="kf">Features</a>
                    </li>
                    <li>
                        {{#link-to 'landingPage.blog' class='kf'}}blog{{/link-to}}
                    </li>
                    <li class="page-scroll">
                        <a href="#contact" class="kf">Join Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    {{outlet}}

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3 class="kf">Location</h3>
                        <p class="kf">Waterloo, Canada</p>
                    </div>
                    <div class="footer-col col-md-6">
                        <h3 class="kf">Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Millionaire Labs 2014-2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 class="kf">Saving Account</h2>
                            <hr class="star-primary">
                            <p>Savings account on millionaire labs utilizes allowance, deposit plan and saving interest.</p>
                            <img src="assets/image/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                            <button type="button" class="btn btn-default kf" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 class="kf">Budgetting Tools</h2>
                            <hr class="star-primary">
                            <p>Teach kids on planning their own financial goals.</p>
                            <img src="assets/image/portfolio/cake.png" class="img-responsive img-centered" alt="">
                            <button type="button" class="btn btn-default kf" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 class="kf">Investing Account</h2>
                            <hr class="star-primary">
                            <p>It is vital to arm your children with important investment knowledge. Millionaire Labs investing account teaches your children about risk, reward, debt security, buying and tracking. This understanding will prepare them for riding out market fluctuations and making informed decisions when others panic.</p>
                            <img src="assets/image/portfolio/circus.png" class="img-responsive img-centered" alt="">
                            <button type="button" class="btn btn-default kf" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 class="kf">Reward System</h2>
                            <hr class="star-primary">
                            <p>Reward on chores. Motivate your children on working hard to reach a financial goal.</p>
                            <img src="assets/image/portfolio/game.png" class="img-responsive img-centered" alt="">
                            <button type="button" class="btn btn-default kf" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 class="kf">Credit System</h2>
                            <hr class="star-primary">
                            <p>If your child can't live without a new bike, designer jeans, or a brand new game console, it may be time to teach him or her about credit. Even now, easy credit in the form of charge cards is available to teenagers, so the earlier you can teach this lesson, the better your child's chances are of avoiding a future of multiplying credit cards and high interest debt.</p>
                            <img src="assets/image/portfolio/safe.png" class="img-responsive img-centered" alt="">
                            <button type="button" class="btn btn-default kf" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 class="kf">Social Element</h2>
                            <hr class="star-primary">
                            <p>Millionaire labs enables the social elemnet on financial planning for children. Allow them to work together for shared financial goals.</p>
                            <img src="assets/image/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                            <button type="button" class="btn btn-default kf" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
