{{!-- /app/templates/users.hbs --}}
<html class="application">
<header>
<nav class="user navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#side_bar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

       <a class="navbar-brand kf" style="cursor:pointer"> <i class="ki k-tree"></i>Millionaire Labs</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <button type="button" class="btn btn-primary navbar-btn">Sign out</button>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

</header>
<!-- navbar side -->


<div class="user container col-md-12">
  <br>
  <!-- sidebar-collapse -->
             <nav class="navbar-default navbar-static-side" role="navigation">
               <div class="sidebar-collapse">
    <div class="row" id="side_bar">
      <div class="row-offcanvas row-offcanvas-left" id="side_bar">
        <div class="sidebar-offcanvas">
        <div id="container-nav" class="col-md-2" >
          <!-- user image section-->
                      <div class="user-section-inner">
                            <img src="assets/image/user.png" alt="">  <h3> <span class="kf"> Jonny Deen </span> </h3>    
                      </div>
     
            <!--end user image section-->
          <ul  class="nav nav-pills nav-stacked" id="side_bar">
        <li> {{#link-to 'users.home'}}<i class=" fa fa-home fa-3x"></i> Home {{/link-to}}</li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa  fa-pencil-square-o fa-3x"></i> Profile<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>{{#link-to 'users.profile'}}<i class="fa  fa-pencil-square-o"></i> Edit Profile{{/link-to}}</li>
          </ul>
        </li>
        <li><a href="#"><i class="fa fa-tachometer fa-3x"></i> Dashboard</a></li>
        <li>{{#link-to 'users.account'}}<i class="fa fa-credit-card fa-3x"></i> Account {{/link-to}}</li>
      </ul>
    </div>
  </div>
</div>
      <div id="page-wrapper" class="page-wrapper col-md-10">
  <div class="panel panel-default">
      {{outlet}}

    </div>
          <br>
  <br>
      <br>
  <br>
</div>
      </div>
  </div>
  </nav>

  
  </div>
</html>