{{!-- /app/templates/users.hbs --}}
<header>
  <nav class="navbar navbar-default">

    <div class="container-fluid">



      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#side_bar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand kf" style="cursor:pointer"> <i class="ki k-tree"></i>Millionaire Labs</a>
        <p class="navbar-text">Welcome! {{session.user_name}}</p>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            {{#if session.isAuthenticated}}
            
         <button type="button" class="btn btn-primary navbar-btn"{{ action 'invalidateSession' }} >Sign out</button>
          
          {{else}}
          {{#link-to 'sign-in'}}Login{{/link-to}}
          {{/if}}
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

</header>
<!-- navbar side -->

<body>

  <div class="user col-md-12">
    <br>
    <!-- sidebar-collapse -->
    <div class="col-md-12">

      <nav class="navbar-default " role="navigation">
        <ul class="nav nav-tabs nav-justified">
          <li class="link1">{{#link-to 'users.home'}}
            <img src="assets/image/bank14.png" height="50" width="50">Home {{/link-to}}</li>
          <li class="link2">{{#link-to 'users.account'}}
            <img src="assets/image/dice18.png" height="50" width="50">Kids Account {{/link-to}}</li>

          <li class="link1">
            <a href="#">
              <img src="assets/image/archive35.png" height="50" width="50">Education Tips</a>
          </li>
          <li class="link2">{{#link-to 'users.profile'}}
            <img src="assets/image/settings48.png" height="50" width="50">Settings {{/link-to}}</li>
        </ul>
      </nav>
      <br>

    </div>
  </div>


  <br>
  <div class="page-wrapper col-md-12">
    <br>{{outlet}}

  </div>

</body>
